#title{text-align:center;
       text-shadow:2px 2px; 
       color:rgb(255,255,255);
       font-family:"Lucida Console", Monaco, monospace;
       font-size:100px;
}
#project{text-align:center;
       text-shadow:2px 2px; 
       color:rgb(255,255,255);
       font-family:"Lucida Console", Monaco, monospace;
       font-size:100px;
      }

a{text-decoration:none;}
li {display:inline;
     border-style:solid;
     border-color:rgb(255,255,255);
     border-radius:5px;
     color:rgb(255,255,255);
     text-decoration:none;
     font-size:25px;
}
li a{color:rgb(255,255,255);
     text-decoration:none;}
li a:hover{
    color:rgb(0,0,0);
    background-color:rgb(255,255,255);
}
ul{border-bottom-style:solid;
   border-bottom-color:rgb(255,255,255);
   padding-bottom:10px;
   position:sticky;
   }
#link:hover{font-color:rgb(23,21,2);}
#paragraph{font-size:20px;
           font-color:rgb(0,0,0);}
#head{width:100%;
      height:100%;
     background-image:url('twilight.jpg');
     background-size: 100% 100%;
     background-repeat:no-repeat;
     border-style:solid;
     border-color:rgb(22,33,12);
     border-radius:10px;
     opacity:0.8;
	}
html{background-color:rgb(23,23,24);
     }
body{background-color:rgb(23,23,24);
}

#Project-UK-annual-growth-2013-2018 {border-style:solid;
   border-width:thick;
   border-radius:15px;
   background-color:rgb(255,255,255);
   width:100%;
   height:100%;
   margin:auto;
   margin-top:100px;
   }
#Project-UK-annual-growth-2013-2018 h2{text-align:center;}
#Project-UK-annual-growth-2013-2018 img{display:block;
       margin:auto;
       }


#Floyd-algorithm{border-style:solid;
     border-width:thick;
     border-radius:15px;
     background-color:rgb(255,255,255);
     width:100%;
     height:100%;
     margin:auto;
     margin-top:100px;
    }
#Floyd-algorithm img{margin:auto;
     display:block;
     }
#Floyd-algorithm h2{text-align:center;}

#Heart-regression-analysis{border-style:solid;
     border-width:thick;
     border-radius:15px;
     background-color:rgb(255,255,255);
     width:100%;
     height:100%;
     margin:auto;
     margin-top:100px;
    }
#Heart-regression-analysis img{margin:auto;
     display:block;
     }
#Heart-regression-analysis h2{text-align:center;}

     